<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<li>
	<f:if condition="{newsItem.images -> f:count()} > 0">
		<div class="image">
			<f:image src="{newsItem.images.0.uid}" treatIdAsReference="1" maxWidth="200" />
		</div>
	</f:if>
	<div class="content">
		<f:if condition="{newsItem.newsCategories}">
			<p>
				<small>
					<f:for each="{newsItem.newsCategories}" as="category" iteration="iterator">{category.data.title}<f:if condition="{iterator.isLast}"><f:else>, </f:else></f:if></f:for>
				</small>
			</p>
		</f:if>
		<h3>
			<f:link.page pageUid="{newsItem.data.uid}">
				{newsItem.data.title} ({newsItem.data.lastUpdated -> f:format.date(format:'{settings.list.dateFormat}')})
			</f:link.page>
		</h3>
		<p>
			<small><f:render partial="NewsMeta" arguments="{_all}" /></small><br>
			{newsItem.data.abstract -> f:format.nl2br()}<br>
			<f:link.page pageUid="{newsItem.data.uid}">
				<f:translate key="LLL:EXT:just_news/Resources/Private/Language/locallang.xlf:read_more" />
			</f:link.page>
		</p>
	</div>
</li>
</html>
