<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
<div id="c{data.uid}">
	<f:render partial="Header" arguments="{_all}" />
	<f:if condition="{news -> f:count()} > 0">
		<ol>
			<f:for each="{news}" as="newsItem">
				<li>
					<div class="title">
						<h3>
							<f:link.page pageUid="{newsItem.data.uid}">
								{newsItem.data.title} ({newsItem.data.news_datetime -> f:format.date(format:'{settings.list.dateFormat}')})
							</f:link.page>
						</h3>
					</div>
				</li>
			</f:for>
		</ol>
	</f:if>
</div>
</html>