<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}">
	<f:render partial="Header" arguments="{_all}" />
	<f:if condition="{news -> f:count()} > 0">
		<f:widget.paginate objects="{news}" as="paginatedNews" configuration="{itemsPerPage: 3, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 10}">
			<ol>
				<f:for each="{paginatedNews}" as="newsItem">
					<f:render partial="NewsItem" arguments="{_all}" />
				</f:for>
			</ol>
		</f:widget.paginate>
	</f:if>
</div>
</html>